@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lg-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lg-video.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15;
}

.gallery {
  max-width: 900px;
  margin: 0 auto;
}

.gallery__item img {
  width: 100%;
}
